[submodule "loader"]
	path = loader
	url = git@github.com:cuihairu/clinic-loader.git
[submodule "miniapp"]
	path = miniapp
	url = git@github.com:cuihairu/clinic-app.git
[submodule "broker"]
	path = broker
	url = git@github.com:cuihairu/clinic-broker.git
