HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
logs/
web/.git/
web/.idea/
web/dist/
web/node_modules/
*.log
.DS_Store
loader/build/
loader/node_modules/
loader/.idea
loader/.sinomed

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.obsidian/
target/

### docker
db/
logs/

### tablet
/tablet/node_modules/
/tablet/dist/

### server 本地落盘
/data/
