[Unit]
Description=Clinic Server
After=syslog.target

[Service]
WorkingDirectory=/data/clinic
SyslogIdentifier=gm
ExecStart=/bin/bash -c "java -server -Xms256m -Xmx2048m -jar clinic.jar"
User=ubuntu
Type=simple
Restart=always
TimeoutStopSec=5min 20s
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target